@model YaredPersonalWebSite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<div class="row col-sm-offset-1 col-md-offset-2 col-lg-offset-3">

    <hgroup style="margin:30px 10px 30px 20px;" class="title">
        <h2>@ViewBag.Title.</h2>
    </hgroup>

    <div style="margin:30px 10px 30px 20px;">
        <p class="message-success">@ViewBag.StatusMessage</p>

        <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>
    </div>
  

    @if (ViewBag.HasLocalPassword)
    {
        @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
        @Html.Partial("_SetPasswordPartial")
    }

    <section id="externalLogins">
        @Html.Action("RemoveExternalLogins")

        @*<h3>Add an external login</h3>
        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })*@
    </section>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>