<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Yared T. Nesrane - Portfolio</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        @*<link href="UI/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">*@
        @Styles.Render( "~/UI/assets/bootstrap/css/css")
        @Styles.Render("~/UI/assets/css/css")
        @Scripts.Render("~/bundles/modernizr")    
    </head>
    <body>
        <header class="header">
            <nav class="navbar navbar-custom" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/Home/Index">Yared T. Nesrane</a>
                    </div>
                    <div class="collapse navbar-collapse" id="custom-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/Home/Index#home">Home</a></li>
                            <li><a href="/Home/Index#services">Services</a></li>
                            <li><a href="/Home/Index#portfolio">Works</a></li>
                            <li><a href="/Home/Index#skills">Skills</a></li>
                            <li><a href="/Home/Index#testimonials">Testimonials</a></li>
                            <li><a href="/Home/Index#contact">Contact</a></li>
                            <li class="user-login">@Html.Partial("_LoginPartial")</li>    
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @RenderSection("featured", required: false)
        <div id="body">
            <script>
                (function (i, s, o, g, r, a, m) {
                    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
                })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

                ga('create', 'UA-64525736-1', 'auto');
                ga('send', 'pageview');

            </script>
            @RenderBody()
        </div>
        <!-- Footer start -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="social-links">
                            <li><a href="index.html#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                        <p class="heart">
                            Made with <span class="fa fa-heart fa-2x animated pulse"></span>in Nottingham
                        </p>
                        <p class="copyright">
                            © 2015 John Doe | Images: <a href="https://unsplash.com/">Unsplash</a> & <a href="http://zoomwalls.com/">Zoomwalls</a>
                      </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @RenderSection("scripts", required: false)
    </body>
</html>
