@model YaredPersonalWebSite.Models.MailModel

<body>
    @section featured
        {
        <!-- Preloader -->
        <div id="preloader">
            <div id="status"></div>
        </div>
        <!-- Home start -->
        <section id="home" class="pfblock-image screen-height">
            <div class="home-overlay"></div>
            <div class="intro">
                <div class="start">Hello, my name is Nahom T. and I am</div>
                <h1>Full Stack Web Developer</h1>
                <div class="start">creating modern and responsive Web Application</div>
            </div>
            <a href="#services">
                <div class="scroll-down">
                    <span>
                        <i class="fa fa-angle-down fa-2x"></i>
                    </span>
                </div>
            </a>
        </section>
        <!-- Home end -->
    }

    <!-- Services start -->
    <section id="services" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">This is what I do</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            With 5+ years of experience, I specialized in ASP.NET Framework technology stack. Primary developing data driven web, windows and phone applications. I have a deep knowledge of OOP, ASP.NET MVC and web form patterns along with jQuery, Javascript, Bootstrap, Less and SASS.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Web development</h3>
                            <div class="iconbox-desc">
                                With more emphasis on Stability, Flexibility, Extensibility, Maintainability and Scalability.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Windows/phone applications development</h3>
                            <div class="iconbox-desc">
                                With more emphasis on Stability, Flexibility, Extensibility, Maintainability and Scalability.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-badge"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Web services/API</h3>
                            <div class="iconbox-desc">
                                With more emphasis on Stability, Flexibility, Extensibility, Maintainability and Scalability.

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-question"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Consultation</h3>
                            <div class="iconbox-desc">
                                With more emphasis on Stability, Flexibility, Extensibility, Maintainability and Scalability.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services end -->
    <!-- Portfolio start -->
    <section id="portfolio" class="pfblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp" style="margin-bottom:40px;">
                        <h2 class="pfblock-title">My works</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

                            <br /> <br /><i><b>Below are some of my recent works.</b></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="../UI/assets/images/item-1.jpg" alt="img01" />
                            <figcaption>
                                <h2>Crazy <span>Shark</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="../UI/assets/images/item-2.jpg" alt="img01" />
                            <figcaption>
                                <h2>Funny <span>Tortoise</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="../UI/assets/images/item-3.jpg" alt="img01" />
                            <figcaption>
                                <h2>The <span>Hat</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="../UI/assets/images/item-4.jpg" alt="img01" />
                            <figcaption>
                                <h2>Bang <span>Bang</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="../UI/assets/images/item-5.jpg" alt="img01" />
                            <figcaption>
                                <h2>Crypton <span>Dude</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="../UI/assets/images/item-6.jpg" alt="img01" />
                            <figcaption>
                                <h2>Don't <span>Poke</span></h2>
                                <p>Lily likes to play with crayons and pencils</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio end -->
    <!-- Skills start -->
    <section class="pfblock pfblock-gray" style="padding-bottom:70px" id="skills">
        <div class="container">
            <div class="row skills">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="pfblock-header wow fadeInUp" style="margin:0px">
                            <h2 class="pfblock-title">My Skills</h2>
                            <div class="pfblock-line"></div>
                            <div class="pfblock-subtitle">
                                ASP.NET, ASP.NET Core, SQL server, C#, VB.NET, MVC, Entity Framework, Linq, JQuery, AJAX, XML, Web Service, WCF, Bootstrap and foundation UI frameworks, Xamarin, Java.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="80" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">80</span>
                    </span>
                    <h3 class="text-center">Programming</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="90" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">90</span>
                    </span>
                    <h3 class="text-center">Design</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="85" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">85</span>
                    </span>
                    <h3 class="text-center">Consulting</h3>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="95" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">95</span>
                    </span>
                    <h3 class="text-center">UI / UX</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- Skills end -->
    <!-- CallToAction start -->
    <section class="calltoaction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
                    <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                        I'm available for freelance projects.
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
                    <a href="#contact" class="btn btn-lg">Hire Me</a>
                </div>
            </div>
        </div>
    </section>
    <!-- CallToAction end -->
    <!-- Testimonials start -->
    <section id="testimonials" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">What my clients say</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="cbp-qtrotator" class="cbp-qtrotator">
                    <div class="cbp-qtcontent">
                        <img src="../UI/assets/images/client-1.jpg" alt="client-1" />
                        <blockquote>
                            <p>Work with Nahom was a pleasure. He understood exactly what I wanted and created an awesome site for my company.</p>
                            <footer>Michael</footer>
                        </blockquote>
                    </div>
                    <div class="cbp-qtcontent">
                        <img src="../UI/assets/images/client-2.jpg" alt="client-2" />
                        <blockquote>
                            <p>I'm really happy with the results. Get 100% satisfaction is difficult but Nahom got it without problems.</p>
                            <footer>Hanna</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial end -->
    <!-- Contact start -->
    <section id="contact" class="pfblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header">
                        <h2 class="pfblock-title">Drop us a line</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Your email will be answered ASAP.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="ajax-response" style="margin-bottom:5px;" id="ajax-status"></div>
                    @using (Ajax.BeginForm("SendMail", "Common",
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "ajax-response",
                            OnFailure = "ShowError()",
                            OnSuccess = "ShowSuccess()",
                            OnBegin = "onBeginFunc"
                        }
                        ))
                    {
                        <div id="target" class="ajax-hidden">
                            <div style="margin-top:5px;" class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Name, new { @class = "sr-only" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Name) }) @Html.ValidationMessageFor(model => model.Name, String.Empty, new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Email, new { @class = "sr-only" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email), type = "email" }) @Html.ValidationMessageFor(model => model.Email, String.Empty, new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Subject, new { @class = "sr-only" })
                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Subject) }) @Html.ValidationMessageFor(model => model.Subject, String.Empty, new { @class = "text-danger" })
                            </div>

                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Message, new { @class = "sr-only" })
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Message), rows = 7 }) @Html.ValidationMessageFor(model => model.Message, String.Empty, new { @class = "text-danger" })
                            </div>
                            <input type="submit" id="submitemail" class="btn btn-primary" value="Send Message">
                        </div>
                    }
                    <script>
                        function ShowError() {
                            $("#ajax-status").html("");
                            $("#ajax-status").removeClass();
                            $("#ajax-status").addClass("center clear-fix col-md-12 bg-danger text-white");
                            $("#ajax-status").html("<strong>Error!</strong> There was an error sending the email. Please try again later.");
                            $("#submitemail").prop("disabled", false);
                        }
                        function onBeginFunc() {
                            $("#submitemail").prop("disabled", true);
                        }
                        function ShowSuccess() {
                            $("#ajax-status").html("");
                            $("#ajax-status").removeClass();
                            //$("#target").removeClass();
                            $("#Name").val('');
                            $("#Email").val('');
                            $("#Subject").val('');
                            $("#Message").val('');
                            $("#ajax-status").html("<strong>Success!</strong> Message Sent. We will contact you ASAP. Thanks.");
                            $("#ajax-status").addClass("center col-md-12 bg-success text-white");
                            $("#submitemail").prop("disabled", false);
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact end -->
    <!-- Scroll to top -->
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Scroll to top end-->
</body>
