@model YaredPersonalWebSite.Models.MailModel
<body>
    @section featured
        {
        <!-- Preloader -->
        <div id="preloader">
            <div id="status"></div>
        </div>
        <!-- Home start -->
        <section id="home" class="pfblock-image screen-height">
            <div class="home-overlay"></div>
            <div class="intro">
                <h1>Gradient Energy LLC.</h1>
                <div class="start">Powering Africa</div>
                <div class="col-md-6 col-md-offset-3" style="text-align:left;">
                    <p>
                        Gradient Energy together with its subsidiaries and jointly controlled entities is committed to 'lighting up lives' for generations to come. We have a great track record of AI powered technology leadership, project execution excellence, world class safety processes and customer care.
                    </p>
                    <p>
                        Gradient Energy is continuously upgrading and augmenting the Transmission system to cater to the increasing demand of Ethiopia’s (Africa's) power consumption. There are ambitious plans of investing ($$$$$) for the next 5 years....
                    </p>
                </div>
            </div>
            <a href="#services" class="scroll-services">
                <div class="scroll-down">
                    <span>
                        <i class="fa fa-angle-down fa-2x"></i>
                    </span>
                </div>
            </a>
        </section>
        <!-- Home end -->
    }
    <!-- Services start -->
    <section id="services" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">c
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">What we do</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            With xx+ years of experience, we specialized in AI integrated solutions of power transmission and distribution.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-magic-wand"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Power transmission</h3>
                            <div class="iconbox-desc">
                               Gradient Energy power transmission which has grid availability of 99.9 % is one of the most reliable systems in the country and the entire continent. The entire transmission system is centrally controlled from PSCC through the state of the art unified SCADA system.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInLeft">
                        <div class="iconbox-icon">
                            <span class="icon-puzzle"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Power Distribution</h3>
                            <div class="iconbox-desc">
                               Gradient Energy, along with our partners, work on ensuring uninterrupted power supply to our select cities. The challenging task of meeting the ever-growing power needs of the industrial cities of the country has been possible because of efficient transmission and distribution of energy.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-badge"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Next Gen Power Solutions</h3>
                            <div class="iconbox-desc">
                               We look to shape the future through our evolving customer solutions. Gradient Energy continues to be a forerunner in technology adoption while also setting industry benchmarks in operational and sustainability aspects.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="iconbox wow slideInRight">
                        <div class="iconbox-icon">
                            <span class="icon-question"></span>
                        </div>
                        <div class="iconbox-text">
                            <h3 class="iconbox-title">Services Business</h3>
                            <div class="iconbox-desc">
                                Gradient Energy has pioneered various processes & practices to address Project management challenges. The early adoption of best in class Quality Management Systems and digital solutions are testimony to this fact. Gradient Energy provides one stop solution for all industries requiring similar services.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services end -->

    <!-- Portfolio start -->
    <section id="portfolio" class="pfblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">Our works</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Below are some of our recent works. 				
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="~/UI/assets/images/businesses-transmission-header1920.jpg" alt="img01" />
                            <a target="_blank" href="#">
                                <figcaption>
                                    <h2>XYZ Transmission</h2>
                                    <p>Transmission</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="~/UI/assets/images/businesses-transmission-header1920.jpg" alt="img01" />
                            <a target="_blank" href="#">
                                <figcaption>
                                    <h2>ABC Transmission</h2>
                                    <p>Transmission</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="~/UI/assets/images/businesses-transmission-header1920.jpg" alt="img01" />
                            <a target="_blank" href="#">
                                <figcaption>
                                    <h2>LMN Transmission</h2>
                                    <p>Transmission</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="~/UI/assets/images/businesses-transmission-header1920.jpg" alt="img01" />
                            <a target="_blank" href="#">
                                <figcaption>
                                     <h2>XXX Transmission</h2>
                                    <p>Transmission</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="~/UI/assets/images/businesses-transmission-header1920.jpg" alt="img01" />
                            <a target="_blank" href="#">
                                <figcaption>
                                    <h2>ZZZ Transmission</h2>
                                    <p>Transmission</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="grid wow zoomIn">
                        <figure class="effect-bubba">
                            <img src="~/UI/assets/images/businesses-transmission-header1920.jpg" alt="img01" />
                            <a target="_blank" href="#">
                                <figcaption>
                                    <h2>American Society of Anesthesiologists</h2>
                                    <p>ASA</p>
                                </figcaption>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio end -->

    <!-- Skills start -->
    <section class="pfblock pfblock-gray" id="skills">
        <div class="container">
            <div class="row skills">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="pfblock-header wow fadeInUp">
                            <h2 class="pfblock-title">Vision, Mission & Values</h2>
                            <div class="pfblock-line"></div>
                            <div class="pfblock-subtitle">
@*                                ASP.NET 4.0, SQL 2014, C#, VB.NET, MVC, Entity Framework, Linq, JQuery, AJAX, XML, Web Service, WCF, Bootstrap and foundation UI frameworks, .Less, SASS, XML, XSLT, Mercurial, Jenkins, git.*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">Vision</span>
                    </span>
                    <h3 style="font-style: italic;text-transform: inherit;" class="text-center">Empower a billion lives through sustainable, affordable and innovative energy solutions.</h3>
                </div>
                <div class="col-sm-6 col-md-6 text-center">
                    <span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">Mission</span>
                    </span>
                    <h3 style="font-style: italic;text-transform: inherit;" class="text-center">Keeping the customer at the center of all we do</h3><br />
                    <h3 style="font-style: italic;text-transform: inherit;" class="text-center">Operating assets and executing projects at benchmark level through technology & innovation</h3><br />
                    <h3 style="font-style: italic;text-transform: inherit;" class="text-center">Sustainable growth with a focus on profitability and market leadership</h3><br />
                    <h3 style="font-style: italic;text-transform: inherit;" class="text-center">Creating an empowered workforce driven by passion & purpose</h3><br />
                </div>
                <div class="col-sm-6 col-md-3 text-center">
                    <span data-percent="100" class="chart easyPieChart" style="width: 140px; height: 140px; line-height: 140px;">
                        <span class="percent">Values</span>
                    </span>
                    <h3 style="font-style: italic;text-transform: inherit;" class="text-center">Safety, Care, Agility, Learning, Ethics</h3>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Skills end -->

    <!-- CallToAction start -->
    <section class="calltoaction">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h2 class="wow slideInRight" data-wow-delay=".1s">ARE YOU READY TO START?</h2>
                    <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
                        We are available to start projects.				
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
                    <a href="#contact" class="btn btn-lg">Contact us</a>
                </div>
            </div>
        </div>
    </section>
    <!-- CallToAction end -->

    <!-- Testimonials start -->
    <section id="testimonials" class="pfblock pfblock-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header wow fadeInUp">
                        <h2 class="pfblock-title">What our customers say</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            No one lights a lamp in order to hide it behind the door: the purpose of light is to create more light, to open people’s eyes, to reveal the marvels around.				
                            <br/>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="cbp-qtrotator" class="cbp-qtrotator">
                    <div class="cbp-qtcontent">
                        <img src="~/UI/assets/images/client-1.jpg" alt="client-1" />
                        <blockquote>
                            <p>Working with Gradient Energy was a pleasure. They understood exactly what we wanted and created an awesome xxxxx.</p>
                            <footer>Okasha Syraj</footer>
                        </blockquote>
                    </div>
                    <div class="cbp-qtcontent">
                        <img src="~/UI/assets/images/client-1.jpg" alt="client-2" />
                        <blockquote>
                            <p>I'm really happy with the results. Gradient Energy deliverd 100% of what we asked for without any problem.</p>
                            <footer>Ermias Belay</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial end -->

    <!-- Contact start -->
    <section id="contact" class="pfblock">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pfblock-header">
                        <h2 class="pfblock-title">Drop us a line</h2>
                        <div class="pfblock-line"></div>
                        <div class="pfblock-subtitle">
                            Your email will be answered ASAP.		
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="ajax-response" id="ajax-status"></div>
                    @using (Ajax.BeginForm("SendMail", "Common",
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "target",
                            OnFailure = "ShowError()",
                            OnSuccess = "ShowSuccess()",
                            OnBegin = "onBeginFunc"                         
                        }
                        ))
                    {
                        <div id="target" class="ajax-hidden">
                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Name, new { @class = "sr-only" })
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Name) }) @Html.ValidationMessageFor(model => model.Name)
                            </div>

                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Email, new { @class = "sr-only" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email), type = "email" }) @Html.ValidationMessageFor(model => model.Email)
                            </div>

                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Subject, new { @class = "sr-only" })
                                @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Subject) }) @Html.ValidationMessageFor(model => model.Subject)
                            </div>

                            <div class="form-group wow fadeInUp">
                                @Html.LabelFor(model => model.Message, new { @class = "sr-only" })
                                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Message), rows = 7 }) @Html.ValidationMessageFor(model => model.Message)
                            </div>
                            <input type="submit" id="submitemail" class="btn btn-primary" value="Send Message">
                        </div>
                    }
                    <script>
                        function ShowError() {
                            $("#ajax-status").removeClass();
                            $("#ajax-status").addClass("center alert alert-error");
                            $("#ajax-status").html("<strong>Error!</strong> There was an error sending the email. Please try again later.");
                            $("#submitemail").prop("disabled", false);
                        }
                        function onBeginFunc() {
                            $("#submitemail").prop("disabled", true);
                        }
                        function ShowSuccess() {
                            $("#ajax-status").html("");
                            $("#ajax-status").removeClass();
                            $("#target").removeClass();
                            $("#target").addClass("center alert alert-success");
                            $("#submitemail").prop("disabled", false);
                        }
                    </script>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact end -->

    <!-- Scroll to top -->
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Scroll to top end-->
</body>
